@use '../helpers' as *;

.footer {
  background-color: var(--color-dark);
  color: var(--color-light);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(80);
    padding-block: rem(130);
  }

  &__heading {
    display: flex;
    align-items: center;
    column-gap: rem(185);
  }

  &__title {
    max-width: rem(605);
    width: 100%;
    color: inherit;
  }

  &__menu {
    display: flex;
    column-gap: rem(133);
    margin-left: fluid(367, 330);
    color: var(--color-gray-light);

    &-column {
      width: rem(196);
    }

    &-title {
      color: inherit;
      margin-bottom: rem(34);
    }

    &-contacts a {
      text-decoration: none;
    }
  }

  &__extra {
    display: flex;
    column-gap: rem(133);
    margin-left: fluid(367, 330);
    font-size: rem(13);
  }

  &__terms-and-conditions-link,
  &__privacy-policy-link {
    width: rem(217);
  }

  &__copyright {
    width: rem(303);
    color: var(--color-gray-dark);

    &--light {
      color: var(--color-gray-light);
    }
  }
}
