@use '../helpers' as *;

.search {
  &__form {
    display: flex;
    align-items: center;
    column-gap: rem(18);

    @include mobile {
      column-gap: rem(6);
    }
  }

  &__field {
    display: flex;
    align-items: center;
    column-gap: rem(6);

    @include mobile-above {
      z-index: 1;
    }
  }

  &__label {
    @include flex-center;
  }

  &__input {
    max-width: rem(65);
    border: none;
    color: var(--color-dark);
    font-weight: 700;
    font-size: rem(15);
    line-height: 1.4;
    background-color: transparent;

    &::placeholder {
      color: currentColor;
    }
  }

  &__button {
    --pointBgColor: var(--color-dark);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(5);
    background-color: transparent;
    border: none;

    @include mobile {
      @include visually-hidden;
    }

    @include hover {
      --pointBgColor: var(--color-accent);
    }

    &-point {
      @include square(rem(5));

      background-color: var(--pointBgColor);
      border-radius: 50%;
      transition-duration: var(--transition-duration);
    }
  }
}
