@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями и видео
  */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
  scrollbar-gutter: stable;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
a:where([class]) {
  display: inline-flex;
}

/**
   Курсор-рука при наведении на элемент
  */
button,
label {
  cursor: pointer;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Приведение рамок таблиц в классический 'collapse' вид
  */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-gray: #8e8b8c;
  --color-gray-light: #cccccc;
  --color-gray-dark: #969696;
  --color-accent: #ffd11a;
  --border-radius: 1rem;
  --shadow: 0 0 0 0.1875rem var(--color-gray);
  --font-family-base: "Open Sans", sans-serif;
  --font-family-accent: "Lato", sans-serif;
  --container-width: 81.25rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 67.5rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html:is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-dark);
  background-color: var(--color-light);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: var(--font-family-accent);
  color: var(--color-dark);
  font-weight: 700;
}

h1,
.h1 {
  font-size: clamp(1.875rem, 0.8394607843rem + 4.2483660131vw, 5.9375rem);
  line-height: 1.08;
}

h2,
.h2 {
  font-size: clamp(1.625rem, 1.2426470588rem + 1.568627451vw, 3.125rem);
  line-height: 1.1;
}

h3,
.h3 {
  font-size: clamp(1.375rem, 1.1200980392rem + 1.045751634vw, 2.375rem);
  line-height: 1.16;
}

h4,
.h4 {
  font-size: clamp(1.125rem, 0.9816176471rem + 0.5882352941vw, 1.6875rem);
  line-height: 1.26;
}

h5,
.h5 {
  font-size: clamp(1rem, 0.9681372549rem + 0.1307189542vw, 1.125rem);
  line-height: 1.5;
  font-weight: 400;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-gray-light);
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.0625rem dashed var(--color-dark);
  outline-offset: 0.125rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]:before,
button[aria-label]:before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.logo {
  max-width: clamp(5.875rem, 5.2696078431rem + 2.4836601307vw, 8.25rem);
  width: 100%;
}

.search__form {
  display: flex;
  align-items: center;
  column-gap: 1.125rem;
}
@media (width <= 47.99875rem) {
  .search__form {
    column-gap: 0.375rem;
  }
}
.search__field {
  display: flex;
  align-items: center;
  column-gap: 0.375rem;
}
.search__label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__input {
  max-width: 4.0625rem;
  border: none;
  color: var(--color-dark);
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.4;
}
.search__input::placeholder {
  color: currentColor;
}
.search__button {
  --pointBgColor: var(--color-dark);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3125rem;
  background-color: transparent;
  border: none;
}
@media (any-hover: hover) {
  .search__button:hover {
    --pointBgColor: var(--color-accent);
  }
}
@media (any-hover: none) {
  .search__button:active {
    --pointBgColor: var(--color-accent);
  }
}
.search__button-point {
  width: 0.3125rem;
  height: 0.3125rem;
  background-color: var(--pointBgColor);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}

.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-dark);
  background-color: transparent;
  border: none;
  z-index: 2;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-accent);
  }
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em -0.15em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  width: 100%;
  height: 0.125rem;
  background-color: currentColor;
  border-radius: 1rem;
}

.header {
  padding-block: 2.875rem;
  background-color: transparent;
}
@media (width <= 63.99875rem) {
  .header {
    padding-block: 1.625rem;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  max-width: calc(114.25rem + 2.875rem * 2);
  padding-inline: clamp(1.625rem, 1.306372549rem + 1.3071895425vw, 2.875rem);
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: var(--color-light);
    transition-duration: var(--transition-duration);
    z-index: 1;
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
@media (width <= 47.99875rem) {
  .header__menu {
    overflow-y: auto;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 2.25rem;
}
@media (width <= 63.99875rem) {
  .header__menu-list {
    column-gap: 1rem;
  }
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.header__menu-link {
  position: relative;
  font-size: 0.9375rem;
  line-height: 1.4;
  font-weight: 700;
  color: var(--color-dark);
}
.header__menu-link.is-active::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 0.0625rem;
  width: 100%;
  background-color: currentColor;
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 0.0625rem;
  width: 0;
  translate: -50%;
  background-color: currentColor;
  transition-duration: inherit;
}
@media (any-hover: hover) {
  .header__menu-link:hover {
    color: currentColor;
  }
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (any-hover: none) {
  .header__menu-link:active {
    color: currentColor;
  }
  .header__menu-link:active::after {
    width: 100%;
  }
}

.soc1ials__list {
  display: flex;
  column-gap: 1.25rem;
}

.footer {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.footer__inner {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
@media (width <= 90.06125rem) {
  .footer__inner {
    padding-block: 4.375rem;
    row-gap: 3.75rem;
  }
}
@media (width <= 47.99875rem) {
  .footer__inner {
    padding-block: 2.5rem;
    row-gap: 1.25rem;
  }
}
.footer__heading {
  display: flex;
  align-items: center;
  column-gap: 11.5625rem;
}
@media (width <= 63.99875rem) {
  .footer__heading {
    column-gap: 7.1875rem;
  }
}
.footer__title {
  max-width: 37.8125rem;
  color: inherit;
}
@media (width <= 47.99875rem) {
  .footer__title {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.footer__menu {
  display: flex;
  column-gap: 2.5rem;
  margin-left: clamp(20.625rem, 20.0355392157rem + 2.4183006536vw, 22.9375rem);
  color: var(--color-gray-light);
}
@media (width <= 90.06125rem) {
  .footer__menu {
    font-size: 0.875rem;
  }
}
@media (width <= 63.99875rem) {
  .footer__menu {
    justify-content: center;
    margin-left: 0;
  }
}
@media (width <= 47.99875rem) {
  .footer__menu {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.footer__menu-column {
  width: 12.25rem;
}
@media (width <= 90.06125rem) {
  .footer__menu-column {
    width: 9.375rem;
  }
}
@media (width <= 47.99875rem) {
  .footer__menu-column {
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
    width: auto;
  }
}
.footer__menu-title {
  color: inherit;
  margin-bottom: 2.125rem;
}
@media (width <= 90.06125rem) {
  .footer__menu-title {
    font-size: 0.875rem;
  }
}
@media (width <= 47.99875rem) {
  .footer__menu-title {
    margin-bottom: 0;
  }
}
.footer__menu-contacts a {
  text-decoration: none;
}
.footer__extra {
  display: flex;
  column-gap: 2.5rem;
  margin-left: clamp(20.625rem, 20.0355392157rem + 2.4183006536vw, 22.9375rem);
  font-size: 0.8125rem;
}
@media (width <= 63.99875rem) {
  .footer__extra {
    justify-content: center;
    margin-left: 0;
  }
}
@media (width <= 47.99875rem) {
  .footer__extra {
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
    width: auto;
  }
}
.footer__terms-and-conditions-link, .footer__privacy-policy-link {
  width: 13.5625rem;
}
@media (width <= 90.06125rem) {
  .footer__terms-and-conditions-link, .footer__privacy-policy-link {
    width: 9.375rem;
  }
}
.footer__copyright {
  width: 18.9375rem;
  color: var(--color-gray-dark);
}
@media (width <= 90.06125rem) {
  .footer__copyright {
    width: 10rem;
  }
}
.footer__copyright--light {
  color: var(--color-gray-light);
}

/*# sourceMappingURL=main.css.map */
